{
  "version": 6,
  "configurePresets": [
    {
      "name": "default",
      "inherits": "base",
      "displayName": "Default (vcpkg)",
      "cacheVariables": {
        "CMAKE_TOOLCHAIN_FILE": "PATH/TO/YOUR/vcpkg/scripts/buildsystems/vcpkg.cmake"
      }
    },
    {
      "name": "release",
      "inherits": "default",
      "displayName": "Release (vcpkg)",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "Release"
      }
    }
  ]
}